    body {
        
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        position: relative;
        align-items: center;
        justify-content: center;
    }

    span {
        margin-left: 50px;
    }
h1, p {
    color: white;
    }
